* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "Iosevka Nerd Font Mono";
    font-weight: bold;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background: #161616;
    border-bottom: 0px;
}

tooltip {
    background-color: #161616;
    border: 2px solid #766451;
}

#language,
#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio {
    margin: 4px 0px;
    padding: 0px 8px;
}

#workspaces button {
    color: #b6b8bb;
    padding: 0px 4px;
}

#workspaces button.active {
    background-color: #78a9ff;
    color: #161616;
}

#workspaces button.urgent {
    background-color: #ee5396;
    color: #161616;
}

#clock,
#battery,
#language,
#tray,
#cpu,
#memory,
#network,
#pulseaudio {
    border-left: 1px solid #f2f4f8;
    color: #f2f4f8;
}
