@define-color bg0_color #161616;
@define-color bg1_color #78a9ff;
@define-color bg0_h_color #1d2021;

@define-color fg_color #f2f4f8;

window {
  margin: 2px;
  background-color: @bg0_color;
  border-radius: 0;
  background-color: @bg0_color;
}

#input {
  margin: 2px;
  border: 2px solid @bg1_color;
  border-radius: 5;
  background-color: @bg0_color;
}

#inner-box {
  margin: 2px;
  background-color: @bg0_color;
}

#outer-box {
  margin: 2px;
  border: 2px solid @bg0_h_color;
  border-radius: 0;
  background-color: @bg0_color;
}

.entry image {
  margin-right: 10px;
}

#scroll {
  margin: 2px;
}

#text {
  color: @fg_color;
} 
